<!doctype html>
<html lang="en">
{% include head.html %}
<body>
  <main>
    <div class="grid grid-centered">
      <div class="grid-cell">
        {% include navigation.html %}
        <article class="article {% if site.scrollappear_enabled %}scrollappear{% endif %}">
          <header class="article-header">
            <h1>{{ page.title }}</h1>
            <p>{{ page.description }}</p>
            {% include article/info-footer.html post=page %}
          </header>

          <div class="article-content">
            {{ content }}
          </div>
          <div class="article-share">
            {% assign page_title = page.title | cgi_escape | truncate: 110 %}
            {% capture twitter-share-text %}{{ page_title }} - {{ page.url | absolute_url }}{% if site.social.twitter %} by @{{ site.social.twitter }}{% endif %}{% endcapture %}
            <a href="https://twitter.com/home?status={{ twitter-share-text | uri_escape }}" title="Share on Twitter" rel="noreferrer noopener" target="_blank">
              <svg viewBox="0 0 512 512"></svg>
            </a>
            <a href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | absolute_url }}" title="Share on Facebook" rel="noreferrer noopener" target="_blank">
              <svg viewBox="0 0 512 512"><path d="M288 192v-38.1c0-17.2 3.8-25.9 30.5-25.9H352V64h-55.9c-68.5 0-91.1 31.4-91.1 85.3V192h-45v64h45v192h83V256h56.4l7.6-64H288z"/></svg>
            </a>
          </div>

          {% if site.discus_identifier %}
            <div id="disqus_thread" class="article-comments"></div>
            <script src="https://{{ site.discus_identifier }}.disqus.com/embed.js" async defer></script>
            <noscript>Please enable JavaScript to view the comments.</noscript>
          {% endif %}
        </article>
        {% include footer.html %}
      </div>
    </div>
  </main>
  {% include javascripts.html %}
</body>
</html>
